<form action='quote' method='post'>
  <label>Image URL:</label>
  <input type='text' name='image'>
  <br/>
  <label>Quote Type:</label>
  <select name='quote_type'>
    <option value='worst'>Worst</option>
    <option value='best'>Best</option>
    <option value='random'>Random</option>
  </select>
  <br/>
  <input type='submit'>
</form>
